.navigation {
    list-style-type: none;
    background-color: none;
    width: 60%;
    margin: 0 auto;
    padding: 0;
   
}
.navigation-items {
    
    display: inline-block;
    text-align: center;
    width: 20%;
}

.navigation-items a {
    text-decoration:none;
    text-transform: uppercase;
    font-weight: bold;
    color: #16a085;
    display: inline-block;
    padding-top: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    font-size: 22px;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 80px;
}

.img img {
    width: 100%;
}
.container {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #f5f6f7;
}
.title {
   color: #373737;
   font-weight: bold;
   padding: 1rem 10%;
   text-transform: uppercase;
}
.description {
    color: #373737;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}
.btn a{ 
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
display: inline-block;
width: 192px;
color: #ffffff;
background-color: #16a085;
padding: 1rem;
border-radius: 5px;
}
.footer {
text-align: right;
padding: 3rem 1rem;
}

